# Environment variables
.env

# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask instance data
backend/instance/

# Node dependencies
frontend/node_modules/

# React production build
frontend/build/
hospital_db_backup.sqlbackend/cookies.txt

hospital_db_backup.sql
